@import "../../global";

.demo-page {
  border: 2px solid green;
  background: white;
  z-index: -3;
  margin-left: 400px;
  margin-right: 400px;
}

.demo-box {
  margin-bottom: 500px;
  border: 2px solid #ec4c4c;
  height: 500px;
  font-size: 70px;
}

.top {
  margin: 10px;
  border: 6px solid #47d5e1;
}