
//$globalH1Color: rgb(0,160,221); //leave!!!
//$globalGray: rgba(213, 213, 213, 0.35);
html {font-size: 1em;  /* 22px */}
body {
  font-size: 100%;     /* flexible baseline */

  line-height: 1.4;
}

$sidePadding: 150px;
//$heightImg: (161px * $multiplyFactor);
