
//$globalH1Color: rgb(0,160,221); //leave!!!
//$globalGray: rgba(213, 213, 213, 0.35);
html {font-size: 1em;  /* 22px */}
body {
  font-size: 100%;     /* flexible baseline */

  line-height: 1.4;
}

//$sidePadding: 150px;
$sidePadding_big: 10%;


//$sidePadding: 150px;
$standardTextColor: #6d7377;
//$standardTextColor: red;

$breakpoint-width-tablet: 1200px; //width

$breakpoint-width-phone: 400px; //width

//$heightImg: (161px * $multiplyFactor);
