@import "src/js/global.scss";


.Header {
  //background: $headerBgColor;
  height: 200px;
  background-size: 200px 128px;
  background-repeat: no-repeat;

  $multiplyFactor: 1px;
  $widthImg: (250 * $multiplyFactor);
  $heightImg: (161 * $multiplyFactor);

  #header-image {

    margin-left: $sidePadding;

    height: 100%;
    background-image: url("../../img/FrontAngle_For_Site.png");

    background-size: $widthImg $heightImg;
    background-repeat: no-repeat;
    background-position-x: 20px; //nudge it out from the corner
    background-position-y: 20px;
  }
}

