@import "../global";

.navbar {
  background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
  border-bottom: 1px solid #178acc;
  -webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.navbar-default {
  background-color: #2fa4e7;
  border-color: #1995dc;
}



.navbar {
  //padding-left: $sidePadding_big;
  //padding-right: $sidePadding_big;
  position: relative;
  min-height: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;

  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }
  li.language{
    float: right;
    padding: 16px;
    width:30px;

    #german {
      min-height: 20px;
      background-image: url("../../img/germany-flag-icon.svg");
      background-repeat: no-repeat;
    }

    #english {
      min-height: 20px;
      background-image: url("../../img/united-kingdom-flag-icon.svg");
      background-repeat: no-repeat;
    }
  }

  li.language:hover{
    background-color: #1995dc;
    cursor: pointer;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #1995dc;
  }
}
.navbar .active {
  background: #1995dc;
}

li.language.active {
  background: #1995dc;
}

@media only screen and (max-width: $breakpoint-width-tablet) {
  body {
    .navbar {
      font-size: 16px;
      margin-left: 2px;
      //padding-right: 2px;
      //padding-left: 2px;
      padding-bottom: 0px;

      li a {
        padding: 5px;
      }

      li.language {
        padding: 5px;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-width-phone) {
  body {
    .navbar {
      font-size: 14px;

      margin-left: 2px;
      //padding-right: 2px;
      //padding-left: 2px;
      padding-bottom: 0px;

      li a {
        padding: 5px;
      }

      li.language {
        padding: 5px;
      }
    }
  }
}