@import "../global";

.fa-page {
  //border: 5px solid green;
  p {
    margin: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6d7377;
  }

  .home-page-info {
    padding: 36px;
    background: white;
    border-radius: 4px;
  }

  .home-page-image {
    float: right;

    //border: 5px solid red;
    background: url("../../img/Fotolia_107797505_L.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

    min-height: 600px;
    min-width: 900px;

    margin-left: 30px;
    -webkit-mask-image: url(../../img/splatter2.svg);
    mask-image: url(../../img/splatter2.svg);
    -webkit-mask-size: 73%;
    mask-size: 73%;
    -webkit-mask-repeat: no-repeat;
    mask-position: top;
    z-index: 1;
  }
}

@media only screen and (max-width: $breakpoint-width-tablet) {
  body {
    .fa-page {
      p {
        margin: 12px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        //color: #6d7377;
      }

      //.home-page-info {
      //
      //}

      .home-page-info {
        padding: 16px;
        width: 100%;
        .home-page-image {
          min-height: 400px;
          min-width: 600px;
        }
      }
    }
  }
}


@media only screen and (max-width: $breakpoint-width-phone) {
  body {
    .fa-page {
      p {
        margin: 12px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        //color: #6d7377;
      }

      //.home-page-info {
      //
      //}

      .home-page-info {
        padding: 6px;
        width: 100%;
        .home-page-image {
          min-height: 200px;
          min-width: 300px;
        }
      }
    }
  }
}
