@import "../global";

//$textColor: #747474;
//$blockyTextColor: darken($textColor, 40%);

body {
  background: #6D737723;
}
//global
.fa-page {
  margin-left: $sidePadding_big;
  margin-right: $sidePadding_big;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  //display: flex;
  //width: 100%;
  background: white;
  //height: 70%;
}


@media only screen and (max-width: $breakpoint-width-tablet) {
  body {
    //background-color: lightblue;
    //.navbar {
    //  margin-left: 2px;
    //  padding-right: 2px;
    //  padding-left: 2px;
    //}
    .fa-page {
      margin-left: 2px;
      margin-right: 2px;
    }


  }

  //.footer {
  //  margin-left: 2px;
  //  margin-right: 2px;
  //}
}

@media only screen and (max-width: $breakpoint-width-phone) {
  body {
    //background-color: lightblue;
    //.navbar {
    //  margin-left: 2px;
    //  padding-right: 2px;
    //  padding-left: 2px;
    //}
    .fa-page {

      margin-left: 2px;
      margin-right: 2px;
    }

  }

  //.footer {
  //  margin-left: 2px;
  //  margin-right: 2px;
  //}
}

