@import "../global";

$textColor: #747474;
$blockyTextColor: darken($textColor, 40%);

body {
  background: rgba(109, 115, 119, 0.14);
}
//global
.fa-page {
  //padding: 20px;
  //font-size: 18px;
  //border: #0e0e0e dashed medium;
  color: $textColor;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
}


//MuiCardHeader-content
//.MuiCard-root{
//  background: yellow
//}
//
//.MuiPaper-root {
//  background: yellow
//}
//.MuiCardHeader-root{
//  background: yellow
//}
//
//.MuiCardContent-root {
//  background: yellow
//}
//
//.fa-card {
//  //background: red;
//
//  //width: 600px;
//  height: 100%;
//  //card-media-height="740"
//
//}